@inherits LayoutComponentBase

<div class="flex flex-col h-full" >
    <!-- Top Nav-->
    <header>
        <Nav_Menu />
    </header>

    <!-- Main -->

    <main class="flex-grow" >
        @Body
    </main>

    <!-- Footer -->
    <footer class="shrink-0">
        <Footer></Footer>
    </footer>
</div>


@code {

}
